p {
  margin: 0 2rem 2rem 2rem;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  /* grow to fit */
  flex: 2;
  justify-content: space-evenly;
}

.input-wrap {
  /* Make label above input */
  display: flex;
  flex-direction: column-reverse;

  margin: 0 2rem 0 2rem;

  position: relative;
  padding-top: 1.5rem;
}

input {
  /* Change box style bottom line only*/
  border: 0;
  background-color: transparent;
  font-size: 1.125rem;
  /* Sink the label further into input */
  padding: -1rem 0;
  border-bottom: 2px solid lightgray;
  height: 2rem;
}

input:focus {
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #574fb4;
  background-color: #f7f4f3;
  outline: 0;
}

/* When input focuses do to sibling called label */
input:focus + label {
  color: #574fb4;
  transform: translateY(-1.5rem);
}

input:valid + label {
  color: #574fb4;
  transform: translateY(-1.5rem);
}

input:valid {
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #574fb4;
  background-color: #f7f4f3;
  outline: 0;
}

label {
  /* Steel Tint */
  color: #6b7f82;
  position: absolute;
  top: 1.5rem;
  /* Do this animation anytime it moves */
  transition: 0.25s ease;
}
