body {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
  padding: 10% 0;
  margin: 0;
  /* set contents center */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;

  /* set background */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

select {
  text-align-last: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

option {
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  width: 40%;
  min-height: 100%;
  height: auto;
  margin: 40px 0;
  padding: 20px;
  border-radius: 40px;
}

#patient-details {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#respiratory-input {
  display: flex;
  flex-direction: column;
}
